__pycache__/
*.pyc

.vscode/

# Runtime output created by organizer.sh during testing
archive/
organizer.log

.DS_Store

# Windows metadata tag added to files downloaded via WSL/Windows interop
*:Zone.Identifier
